
.navbar {
    color:black !important;
    background-color: white !important;
    border-bottom: solid 1px darkgrey;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
}
.navbar-brand {
  font-weight: normal;
}

.navbar-light .navbar-brand {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

a { color: black;

}
a:hover {
  color: rgb(75, 75, 172);
}