 .auth-form{
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
} 

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.form-control label,
.form-control input,
.form-control textarea{
    width: 100%;
    display: block;
    

}


.form-control label{
    margin-bottom: 0.5rem;
}

.form-control{
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.form-actions button,
.btn
{
    background: #bb3239;
    font: inherit;
    border: 1px solid #bb3239;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active{
    background: #69181c;
    border-color: #69181c;
}




