.footer {
    min-height: 100px;
    background: white;
    position: relative;
    clear: both;
    width: 100%;
    
}

.footer span {
    position: absolute;
    padding-top: 30px;
    text-align: justify;
}

a {
    color: green ;
    text-decoration: none;
    background-color: transparent;
    font-size: large;
    font-weight: bolder;
}